.phoenix {
  background: #1a243b !important;
}

.icon-color {
  color: #547894 !important;
}

.link-color {
  font-family: "VT323", monospace;
  font-size: 1.3em;
  color: rgb(23, 255, 14) !important;

}


.container {
  margin-left: 100px;
}
